<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="shop-container">
    {% include 'navbar.html' %}
    <h2 class="login-heading">Tienda</h2>

    <div class="product-grid">
      {% for producto in productos %}
        <div class="product-card">
          <h3>{{ producto.nombre }}</h3>
          <p>{{ producto.descripcion }}</p>
          <p><strong>Precio:</strong> ${{ producto.precio }}</p>
          <p><strong>Disponible:</strong> {{ producto.stock }}</p>

          <form action="{{ url_for('shop.add_to_cart', product_id=producto.id_producto) }}" method="POST">
            <input type="number" name="cantidad" value="1" min="1" max="{{ producto.stock }}" required>
            <button type="submit" class="action-button">Agregar al carrito</button>
          </form>
        </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>
